<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1>Map time!</h1>
   <div id='map' width="100%" style='height:400px'></div>
   <script>
   mapboxgl.accessToken = 'pk.eyJ1IjoidGltYWJiIiwiYSI6ImNrN3U2ZXp2aDA0Z3AzaHFpODV4ZzZ3bjUifQ.2fRBBtxhC83pE8TxL_X7ig';
   var map = new mapboxgl.Map({
   container: 'map',
   style: 'mapbox://styles/mapbox/streets-v11',
   
     center: [74.940276, 42.8971237],
     zoom: 8
   
   });
   </script>
  </body>
</html>


